# Telegram Bot
BOT_TOKEN=your_bot_token_here
BOT_USERNAME=Pan1kaVPN_bot  # Username вашего бота без @

# Admin
ADMIN_ID=your_telegram_id_here

# Marzban
MARZBAN_URL=https://your-marzban-panel.com
MARZBAN_TOKEN=your_jwt_token_here

# YooMoney
YOOMOONEY_WALLET=410011602****  # Ваш кошелёк
YOOMOONEY_TOKEN=your_token_if_needed

# DB
DB_PATH=bot.db

# Рефералы
REFERRAL_DAYS_BONUS=3
REFERRAL_PERCENT=0.10

